body.toplevel_page_facebook-settings .facebook-logo {
	float: left;
	background: url(../images/logo.png) no-repeat;
	width: 34px;
	height: 34px;
	margin: 7px 8px 0 0;
}

body.toplevel_page_facebook-settings h3 {
	margin: 1.5em 0 0.5em;
}

body.toplevel_page_facebook-settings h3 input {
	vertical-align: bottom !important;
}
body.toplevel_page_facebook-settings p {
	margin: 0;
}

body.toplevel_page_facebook-settings .fb_admin_image {
	margin-left:84px;
}

body.toplevel_page_facebook-settings .fb_admin_image img {
	float:left;
	margin-left:-84px;
	border:1px solid #CCC;
	width:64px
}

body.toplevel_page_facebook-settings .wp_help_link {
	text-decoration: none;
}

body.toplevel_page_facebook-settings .wp_help_hover {
	color: #aaa;
	cursor: pointer;
}

.token-input-token-facebook img {
	vertical-align: middle;
	border-radius: 3px;
	width: 16px;
	height: 16px;
	margin: 0px 0px 1px -1px;
}

.token-input-dropdown-item2-facebook img {
	vertical-align: middle;
	border-radius: 3px;
	width: 16px;
	height: 16px;
	margin: 0px 0px 1px 2px;
}

.token-input-dropdown-item-facebook img {
	vertical-align: middle;
	border-radius: 3px;
	width: 16px;
	height: 16px;
	margin: 0px 0px 1px 2px;
}

#debug-output {
  display: none;
  float: right;
}

#debug-output-link {
  float: right;
}

.updated img {
  border: 1px solid;
}