/**
 * 
 */

/* Document Body */
body {min-width:960px;}
body, input, textarea { font: 13px/1.5 "Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif; }

/* Font Styles */
.serif { font-family: Georgia, "Times New Roman", Times, serif; }
.sans-serif { font-family: "lucida sans", Verdana, Arial, Helvetica, sans-serif; }

/* Vertical Rhythm  */
.published {-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;border:1px solid #222;line-height:15px;text-align:center;padding:4px 7px;position:relative;top:-11px;left:-11px;float:left;
background-color:#505050;
background-image:-moz-linear-gradient(center top , #606060 20%, #505050 100%);
   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #606060),color-stop(1, #505050));
    background-image: -o-linear-gradient(top, #606060,#505050);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#505050');
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);color:#fff;text-shadow:0 1px 0px #000;}
.published strong {font-size:17px;line-height:17px;font-weight:normal;}

.author.vcard .avatar {float:left;margin:0;position:relative;top:-7px;left:-5px;border:2px #eee solid;padding:0;margin-right:5px;}

.entry-meta { margin-bottom: 10px;text-shadow:0 1px 0px #fff;  }
.entry-meta .meta-sep {margin:0 5px; }
.entry-header {clear:both;border:1px solid #ccc;text-transform:uppercase;margin:15px 0;padding:10px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#cccccc');
 background: -moz-linear-gradient(center top , #E9E9E9 20%, #CCCCCC 100%) repeat scroll 0 0 transparent !important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e9e9e9),color-stop(1, #cccccc)) !important;
    background: -o-linear-gradient(top, #e9e9e9,#cccccc) !important;     
    border-color: #BBBBBB #BBBBBB #999999;
    border-radius: 0 3px 3px 0;-border-radius: 0 3px 3px 0;-webkit-border-radius: 0 3px 3px 0;-moz-border-radius: 0 3px 3px 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}
.entry-header a {color:#555;}
.entry-header .comment-count a {color:#777;font-style:italic;}
.entry-footer {font-size:13px;clear:both;font-style:italic;margin:20px 0;}
.entry-footer a {color:#888;}
.entry-footer a:hover {text-decoration:none;border-bottom-color:#333;color:#333;}
.edit-post, .edit-comment, .edit-page {visibility:hidden;}
.edit-post a, .edit-comment a, .edit-page a {background:#dfce94 url('../images/icon-edit.png') 5px 5px no-repeat;background:rgba(239,220,156,.9) url('../images/icon-edit.png') 5px 5px no-repeat;padding:4px;padding-left:25px;margin-left:5px;
color:#444;
text-shadow:none;
    border:1px solid #dbca8f;
    border-radius: 15px;-border-radius: 15px;-moz-border-radius: 15px;-webkit-border-radius: 15px;
   padding: 5px 10px 5px 26px;  
   	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
						inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
            inset 0 0 10px rgba(0,0,0,.1) /*Shadow inset*/,
						0 1px 2px hsla(0, 0%, 0%, .1) !important  /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
          inset 0 0 10px rgba(0,0,0,.1) /*Shadow inset*/,
					0 1px 2px hsla(0, 0%, 0%, .1) !important  /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
				inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
        inset 0 0 10px rgba(0,0,0,.1) /*Shadow inset*/, 
				0 1px 2px hsla(0, 0%, 0%, .1) !important /*Shadow*/;
} 
.edit-page {position:relative;left:10px;top:12px;}

.sticky, .bypostauthor {}  

.entry-categories {background:url('../images/icon-category.png') 0 5px no-repeat;padding:5px 0px;padding-left:20px;}
.entry-tags {background:url('../images/icon-tag.png') 0 5px no-repeat;padding:5px 0px;padding-left:20px;}

#page-links {clear:both;float:left;margin:20px 0;}
#page-links a {color:#999;font-weight:bold;margin:0 2px;text-shadow:0 1px 0px #fff;text-decoration:none;padding:3px 7px;border: 1px solid #bbb;
    border-color: #BBBBBB #BBBBBB #999999;
    -moz-border-radius:3px;-webkit-border-radius:3px;-border-radius:3px;border-radius:3px;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e9e9e9),color-stop(1, #ccc)); background: -moz-linear-gradient(center top,#e9e9e9 20%,#ccc 100%);
     background: -o-linear-gradient(top, #e9e9e9,#ccc) ;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#cccccc');
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}
#page-links a:hover {background:#fff;color:#333;}
#page-links p {margin-bottom:0;}
#page-links strong {font-size:13px;text-transform:uppercase;}






p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form, .gallery-row, .comment-list ul, .comment-list ol { margin-bottom: 20px; }
.comment, .navigation-links { margin-bottom: 40px; }
.nav-top .navigation-links {margin-bottom:20px;}

/* Header */
.header {padding:12px 0 60px 0;background:#474747 url('../images/header-footer.jpg') repeat;border-bottom:1px solid #000; }
.header a {position:relative;z-index:99;}
#logo-image {float:left;margin-right:20px;} 

/* Content Background */



.content {padding-top:35px;background:url('../images/divider.png') top center no-repeat;}
.content-bottom {width:100%;height:0px;bottom:0;left:0;right:0;border-top:#fff 1px solid;}  
 

/* Logo */
#logo, #logo a { position:relative;font:bold 55px/55px "Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif;float:left; margin-right:10px; letter-spacing:-3px;}
#logo a, .footer a { color:#4aa4d8; text-shadow:0px 1px 0px #000;}
#logo a:hover , .footer a:hover {color: orange; text-decoration: none; }
#tagline { color: #000; padding-top:20px;font:bold italic 20px/30px "Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif;text-shadow:0px 1px 0px #555; }

.radial-effect {background: -moz-radial-gradient(top,ellipse, #fff 0%, rgba(0,0,0,0) 70%);background: -o-radial-gradient(top,ellipse, #fff 0%, rgba(0,0,0,0) 70%);background: -webkit-radial-gradient(top,ellipse, #fff 0%, rgba(0,0,0,0) 70%);position:absolute;top:0;left:0px;width:100%;height:175px;z-index:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";filter: alpha(opacity=25);opacity:.25;}

/* Menu */      

.menu-header { 
    background:#f5f5f5;
    background: -moz-linear-gradient(center top , #F8F8F8 20%, #DDDDDD 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #f8f8f8),color-stop(1, #ddd)) !important;
    background: -o-linear-gradient(top, #f8f8f8,#ddd) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#dddddd');
    border-color: #BBBBBB #BBBBBB #999999;
    -moz-border-radius: 3px;-border-radius: 3px;border-radius: 3px;-webkit-border-radius: 3px;     
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #333333;
    font: 13px/18px "Oswald",arial !important;
    text-shadow: 0 1px 0 #FFFFFF;
    top:-26px;
    position:relative;
    float:left;display:block;width:100%;
    }  
.menu-header:before {bottom: -35px;
    content: url(../images/shadow-before.png)!important;
    left: 0px;
    position: absolute;
    z-index: -1;}
.menu-header:after {bottom: -35px;
    content: url(../images/shadow-after.png)!important;
    right: 0px;
    position: absolute;
    z-index: -1;}             

.menu-back {padding-bottom:25px;border-top:4px solid #e0e1e5;}

.menu-container {background: url("../images/main-bg.jpg") repeat scroll left top transparent;}

.nav {line-height:1; width: 100%; margin-bottom:0; }
.nav, .nav * { list-style: none; margin-left: 0; }
.nav li { float: left; padding: 0; position: relative; border-right:1px solid #fff;border-left:1px solid #bbb;}
.nav li:first-child {border-left:none;}
.nav li:last-child {border-right:none;}
.nav ul li { width: 100%; }

/* Hides items under top menu */
.nav ul { position: absolute; top: -9999em; width: 14em!important; z-index:9999;/* left offset of submenus need to match (see below) */ }

/* Shows submenus */
.nav li:hover ul,
.nav li.nav-hover ul { left: -1px; top: 43px; /* match top ul list item height */ position:absolute;z-index: 999999; }

/* Hides all sub items (4 levels deep) */
.nav li:hover li ul,
.nav li.nav-hover li ul,
.nav li li:hover li ul,
.nav li li.nav-hover li ul,
.nav li li li:hover li ul,
.nav li li li.nav-hover li ul { top: -999em; }

/* On :hover, displays all sub items (4 levels deep) */
.nav li li:hover ul,
.nav li li.nav-hover ul,
.nav li li li:hover ul,
.nav li li li.nav-hover ul,
.nav li li li li:hover ul,
.nav li li li li.nav-hover ul { left: 14em!important; /* match .nav ul width */ top: -1px; }

/* Default Skin */
.nav { padding:0px 0px 2px 0px;}
.nav ul { border:1px solid #bbb;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}
.nav ul li a { font-size:.8em;font-weight:normal;border-top: 1px solid #fff;border-bottom: 1px solid #ddd;}
.nav ul li a:hover { border-top-color:#aaa;}
.nav li a {padding:15px 10px 13px 10px; }
.nav li:hover ul,
.nav li.nav-hover ul { background: #eee; }

.nav li:hover > a { text-decoration: none;border-top-color:#aaa;

background:transparent;
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);
       zoom: 1;

background:rgba(0,0,0,.1);-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);}
 

/* Level Menu */
.nav a { text-transform:uppercase;display: block; position: relative; padding: 8px 10px;color: #111; text-shadow:0px 1px 0px #fff; }
.nav a:hover,.nav li.current_page_item a,.nav li.current_page_parent a,.nav li.current_page_ancestor a,
.nav li.current-menu-item < a,.nav li.current-menu-parent < a, .nav li.current-menu-ancestor < a
 { text-decoration: none; background:rgba(0,0,0,.1);-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1); }
 
.nav li.current-menu-item > a, .nav li.current-menu-ancestor > a {border-top-color:#aaa;text-decoration: none;background:rgba(0,0,0,.1);-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);}

.nav li.current-menu-ancestor li.current-menu-item > a, .nav li.current-menu-ancestor li.current-menu-parent > a {border-top-color:#aaa;text-decoration: none; background:rgba(0,0,0,.1);-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);} 

.nav .sf-sub-indicator {background:	url(../images/arrow-superfish.png) no-repeat;position:absolute;right:0.5em;top:45%;width:10px;height:10px;text-indent:-999em;overflow:hidden;}
.nav li ul .sf-sub-indicator {background:url(../images/arrow-superfish-right.png) no-repeat;top:41%;}

.nav li.current-menu-item, .nav li.current-menu-ancestor, .nav li:hover {border-right-color:#ddd!important;}


.nav li li a,.nav li li li a,.nav li li li li a { padding: 10px;}

.nav li li,.nav li li li,.nav li li li li { border-left:none;border-right:none;}

.nav li a.sf-with-ul {padding-right: 25px;} 

/* Menu bugfix */
.ie7 .nav:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }

/* Links */
a, .entry-content a:link, .entry-content a:active, .entry-content a:visited { color: #4AA4D8; text-decoration: none; }
a:hover { text-decoration: underline; }
#secondary a, #secondary-2 a {line-height:130%;}
#secondary a:hover, #secondary-2 a:hover {border-bottom-color:#184573;color:#2365a7;text-decoration:none;text-shadow:0 1px 1px #aaa;}
.entry-content a:link, .entry-content a:active, .entry-content a:visited { text-decoration: underline; }
.entry-content a:hover { text-decoration: none; }

/* Headings */
h1, h2, h3, h4, h5, h6 { font-weight: bold; clear: both;margin-bottom:15px; }
h1 { font-size: 46px; line-height: 46px; padding: 5px 0px;letter-spacing:-3px;  }
h2 { font-size: 40px; line-height: 40px; padding: 5px 0px;letter-spacing:-2px;  }
h3 { font-size: 34px; line-height: 34px; padding: 5px 0px;letter-spacing:-2px;  }
h4 { font-size: 27px; line-height: 27px; padding: 5px 0px;letter-spacing:-1px; }
h5 { font-size: 20px; line-height: 20px; padding: 5px 0px; }
h6 { font-size: 14px; line-height: 18px; }


/* Widgets */
.widget {position:relative;margin-bottom:15px;}
.widget:after {position:absolute;bottom: -25px;
    content: url(../images/widget-shadow-one.png);
    left:50%;
    margin-left:-160px;
    z-index: 0;} 
.widget ul {margin-bottom:0;}
.widget-title-background {position:absolute;top:-1px;bottom:0px;left:-16px;right:-16px;

-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0px;border:1px solid #222;
background:#505050;
background:-moz-linear-gradient(center top , #606060 20%, #505050 100%) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #606060),color-stop(1, #505050)) !important;
    background: -o-linear-gradient(top, #606060,#505050) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#505050');
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);color:#fff;text-shadow:0 1px 0px #000;
}
.widget-title {z-index:1;position:relative;display:block;margin-bottom:10px;color:#fff;text-shadow:0 1px 3px #444;font-size:19px;line-height:19px;letter-spacing:0px;font-weight:normal;text-transform:uppercase;padding:10px 0px;
}
.widget-title a {color:#fff !important;text-shadow:0 1px 3px #444 !important;border-bottom:none !important;}
.widget-content {position:relative;margin:0 0 35px 0;padding:10px 15px 21px 15px;font-size:15px;  
  background: #f8f8f8;
    border-color: #ddd #ddd #ccc;
    border-radius: 3px;-border-radius: 3px;-webkit-border-radius: 3px; -moz-border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}




/* Widgets Header & Footer */




.widgets-holder a:hover {text-decoration:underline;}     
.widgets-back {margin-top:0px !important;padding-top:10px;}
.widgets-back-inside {width:960px;} 
.widgets-holder a { text-shadow: 0 1px 0px #fff!important;}
.widgets-holder .widget:after {content: url(../images/widget-shadow-one.png)!important;margin-left:-160px;}





/* Content */


#primary {position:relative;}  
.page-title { font-size: 26px; font-weight: bold;font-style: italic;letter-spacing:-1px;text-shadow:0 1px 2px #999; }
.page-title span { font-weight: normal; }
.entry-title, .entry-title a { color: #51545c; font-size:30px;line-height:30px;font-weight:normal; letter-spacing:-1px;text-shadow: 0 1px 0px #fff;}
.entry-title, .entry-title a:hover { color: #000; text-decoration: none; }
.type-page .entry-title {float:left;}
.entry-content {clear:both;font-size:15px;margin-top:35px;}
.hentry {background:url('../images/divider-tile.png') bottom left repeat-x;padding-bottom:25px;}
.entry-content .read-more {font-size:18px;font-weight:bold;}
.entry-content .read-more a {font-size:13px;border:none;text-decoration:none;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
border-width:1px;border-style:solid;font-weight:bold;
  border-color: #bbb; border-bottom-color: #999;text-align: center;text-shadow: 0 1px 0 #fff;
   color: #777;
    background: #f8f8f8;               
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #fff),color-stop(1, #eee));
    background: -moz-linear-gradient(center top,#fff 20%,#eee 100%);
    background: -o-linear-gradient(top, #fff,#eee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;}

/* Footer */

.footer-top {background:url('../images/footer-top-shadow.png') top center no-repeat;height:26px;position:absolute;top:0px;bottom:0;left:0;right:0;}
.footer {position:relative;color:#000; border-top:1px solid #000;background-image:url('../images/header-footer.jpg'); padding:20px 0;}
.footer small {font-weight:bold;}
p#copyright {font-size:15px;text-shadow: 0 1px 0 #555555;}
p#copyright .credits {font:italic bold 11px georgia;}

/* Text Elements */
address { font-style: italic; }
abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px dotted #666; }

blockquote { font-style: italic;font-weight:bold;background:#f1f1f1 url('../images/quote.gif')no-repeat 15px 15px; border: 4px solid #ddd; margin: 0 10px;margin-bottom:20px; padding: 10px;padding-left:90px;padding-bottom:0;
color:#777;text-shadow:0 1px 0px #fff;border: 1px solid #bbb;
    border-color: #ddd #fff #fff #ddd;
    -moz-border-radius:3px;-webkit-border-radius:3px;-border-radius:3px;border-radius:3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset;
 }
 

strong { font-weight: bold; }
em, dfn, cite { font-style: italic; }
dfn { font-weight: bold; }

sup { bottom: 1ex; }
sub { top: .5ex; }
small { font-size: 12px; }

del { text-decoration: line-through; }
ins { text-decoration: underline; }

code, pre {  line-height: 15px; }
var, kbd, samp, code, pre { font: 12px/1.4 Consolas, "Andale Mono", Courier, "Courier New", monospace; background: #fafafa; }
kbd { font-weight: bold; }
samp, var { font-style: italic; }
pre { white-space: pre;  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset !important;
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset !important;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset !important;-moz-border-radius:3px;-webkit-border-radius:3px;-border-radius:3px;border-radius:3px;overflow: auto; padding: 10px; border: 1px dotted #bbb; clear: both; }
code { padding: 0px 3px; }

/* Lists: (ul, ol, dl) */
ul, ol, dl { margin-left: 15px; }
.nav { margin-left: 0px; }
.entry-content ul, .entry-content ol, #search-query { margin-left: 25px; }

li ul, li ol { margin-bottom: 0; }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }

ol { list-style-type: decimal; }

ul, ul ul, ul ul ul { list-style-type:none;list-style-image:url('../images/list-style.gif'); }

dt { font-weight: bold; }

.fat li { margin-bottom: 10px; }

/* Tables */
table { width:98%;background: rgba(238, 238, 238, 0.9);-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1) !important;-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1) !important;-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1) !important;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1) !important;border:1px solid #ccc;border-bottom:0;margin-bottom:15px;border-spacing: 0; line-height: 18px; margin: 0 0 22px 0; text-align: left; }
table .even { background: #ddd; }
caption { text-align: left; }
th, td { font-size:14px;padding: 8px 11px; border-top:1px solid rgba(255, 255, 255, 0.6);border-bottom:1px solid rgba(0, 0, 0, 0.1);}
thead, thead th, thead td {padding:10px 11px;font-weight:bold;background:rgba(0,0,0,.05);color:#111;text-shadow:0 1px 0px #fff;font-size:13px;}

/* Forms */

input[type="text"], input[type="password"], textarea { padding:10px 8px;-webkit-box-shadow:0 0 4px rgba(0,0,0,.15) inset;-moz-box-shadow:0 0 4px rgba(0,0,0,.15) inset;-box-shadow:0 0 4px rgba(0,0,0,.15) inset;box-shadow:0 0 4px rgba(0,0,0,.15) inset;-moz-border-radius: 3px;-webkit-border-radius: 3px;-border-radius: 3px;border-radius: 3px;
border:1px solid #ddd;background:#fff; }
input[type="submit"], button, .button, input#submit {color:#DDDDDD;font-size:12px;height:32px;padding:0;text-shadow:0 1px 2px #111111;text-transform:uppercase;padding: 2px 10px; cursor: pointer;
-webkit-border-radius:3px;-moz-border-radius:3px;-border-radius:3px;border-radius:3px;border:1px solid #222;
background:#505050;
background:-moz-linear-gradient(center top , #606060 20%, #505050 100%) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #606060),color-stop(1, #505050)) !important;
    background: -o-linear-gradient(top, #606060,#505050) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#505050');
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);color:#fff;text-shadow:0 1px 0px #000;
}
button:hover, .button:hover, input#submit:hover { color:#fff; }


/* bugfix */
.safari input { padding: 0px 3px; }
.chrome input { padding: 1px 3px; }

/* Comments */

#comments {clear:both;}
.comments-title-back {float:left;padding:10px;padding-left:0;margin-bottom:25px;}
.comment-title {float:left;margin-right:12px;letter-spacing:0;}
.comment-title-meta, .pings-title-meta {font-size:22px;font-weight:bold;font-style:italic;}
.pings-title-meta {font-size:20px;letter-spacing:0px;}
.no-comment {font-size:19px;color:#bbb;}
.comment-feed-link {position:relative;top:10px;}
.comment-count {float:right;font-weight:bold;background:url('../images/comment.png') 0 3px no-repeat;padding:0px 5px 0px 22px;}
.comment-list, .comment-list .children { list-style: none; }
.comment-list { clear:both;margin:20px 4px 0 4px; }
.comment, .trackback, .pingback { position:relative;margin-bottom: 30px;padding:15px;border:4px solid #eee;background: #f8f8f8;
    border-color: #ddd #ddd #ccc;
    border-radius: 3px;-border-radius: 3px;-webkit-border-radius: 3px; -moz-border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    -box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1) !important;
 }
 
.comment:after, .trackback:after, .pingback:after { 
  bottom: -35px;
    content: url("../images/shadow-after.png") !important;
    position: absolute;
    right: 0;
    z-index: 1;
}   
.comment:before, .trackback:before, .pingback:before { 
  bottom: -35px;
    content: url("../images/shadow-before.png") !important;
    position: absolute;
    left: 0;
    z-index: 1;
}   
 
.trackback, .pingback {padding:10px;margin:0 4px 20px 4px;font-style:italic;font-size:11px;}
.pings-list {margin-bottom:30px;list-style:none outside none;}
.comment-list .children { margin-top: 40px; }
.comment-meta { margin-bottom: 30px;float:left;position:relative;top:7px;font-size:11px;color:#999; }
.commenter { font-size: 18px;font-weight:bold;float:left;margin-right:10px; }
.commenter a:hover {border-bottom:none;}
.comment-content {clear:left;}
.edit-comment a {font-size:12px;color:#555;}
a.comment-reply-link {padding-bottom:5px;padding-left:22px;background:url("../images/reply.gif") no-repeat 0 1px;}
a#cancel-comment-reply-link {margin-left:5px;padding-bottom:4px;padding-left:20px;background:url("../images/cancel-reply.png") no-repeat 0 0px;}
.avatar { float: right; margin: 0px 0px 10px 20px; border:2px solid #ddd;background:#E0E1E5;padding:4px; }
a.follow-replies {background:url("../images/follow-replies.png") no-repeat 0 0;float:left;width:19px;height:19px;position:relative;top:12px;}
a.follow-replies:hover {background-position:0 -19px;}

#showinfo a, #hideinfo a, #logout a {margin-left:10px;position:relative;top:-5px;float:left;background:url("../images/change-close.png") no-repeat 0 0;width:83px;height:29px;}
#hideinfo a {background-position:0 -28px;}
#logout a {background-image:url("../images/logout.png");width:80px;}



.comment-unapproved {font-weight:bold;font-style:italic;color:#333;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; clear:both;border-color:#dbca8f; background:rgba(239,220,156,.9) url("../images/info.png") no-repeat 10px 8px;padding:13px 15px;padding-left:50px;border-width:1px;border-style:solid;	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
						inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
            inset 0 0 10px rgba(0,0,0,.1) /*Shadow inset*/,
						0 1px 2px hsla(0, 0%, 0%, .1) !important  /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
          inset 0 0 10px rgba(0,0,0,.1) /*Shadow inset*/,
					0 1px 2px hsla(0, 0%, 0%, .1) !important  /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
				inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
        inset 0 0 10px rgba(0,0,0,.1) /*Shadow inset*/, 
				0 1px 2px hsla(0, 0%, 0%, .1) !important /*Shadow*/;}



/* Comment Reply */

#reply-title {letter-spacing:0;margin-bottom:0;font-size:21px;font-style:italic;font-weight:bold;text-shadow:0 1px 1px #eee;}

#respond {clear:both;margin-bottom:30px;padding:10px 0;}

#form-section-author, #form-section-email, #form-section-url {width:250px;height:23px;padding:8px;padding-top:9px;}


#respond input#author, #respond input#url, #respond input#email, #respond textarea {display:block;-webkit-box-shadow:0 0 4px rgba(0,0,0,.15) inset;-moz-box-shadow:0 0 4px rgba(0,0,0,.15) inset;-box-shadow:0 0 4px rgba(0,0,0,.15) inset;box-shadow:0 0 4px rgba(0,0,0,.15) inset;-moz-border-radius: 3px;-webkit-border-radius: 3px;-border-radius: 3px;border-radius: 3px;
border:1px solid #ddd;background:#fff;font-size:14px;}

#respond textarea {width:96%;padding:10px;}

#comment-form .form-section input { margin-right: 10px;background:none;border:none;width:240px; }
.form-section { margin-bottom: 10px;position:relative; }
.form-section label { cursor: pointer; }
#commenter-details input { margin-right: 10px; }
#allowed-tags { font: 11px Verdana, Arial, Helvetica, sans-serif; padding: 5px 10px; background: #fff; border: 1px #ddd dotted; border-top: none; width: 573px; }

.text-field-top-left {background-image:url('../images/search-text-corners.png');left:0;top:0px;position:absolute;height:40px;width:14px;clip:rect(auto, 7px, 20px, auto);}
.text-field-bottom-left {background-image:url('../images/search-text-corners.png');left:0;bottom:0px;position:absolute;height:40px;width:14px;clip:rect(20px, 7px, auto, auto);}
.text-field-top-right {background-image:url('../images/search-text-corners.png');right:0;top:0px;position:absolute;height:40px;width:14px;clip:rect(auto, auto, 20px, 7px);}
.text-field-bottom-right {background-image:url('../images/search-text-corners.png');right:0;bottom:0px;position:absolute;height:40px;width:14px;clip:rect(20px, auto, auto, 7px);}
.text-field-top {background-image:url('../images/search-text-back.png');right:7px;left:7px;top:0px;position:absolute;height:40px;clip:rect(auto, auto, 20px, auto);}
.text-field-bottom {background-image:url('../images/search-text-back.png');right:7px;left:7px;bottom:0px;position:absolute;height:40px;clip:rect(20px, auto, auto, auto);}
.text-field-left {background-image:url('../images/field-text-left-right.png');left:0px;top:20px;bottom:20px;position:absolute;width:14px;clip:rect(auto, 7px, auto, auto);}
.text-field-right {background-image:url('../images/field-text-left-right.png');right:0px;top:20px;bottom:20px;position:absolute;width:14px;clip:rect(auto, auto, auto, 7px);}
.text-field-middle {left:7px;right:7px;top:20px;bottom:20px;position:absolute;background:#f9f9f9;}


#submit-button {font-family:arial;text-shadow:0 1px 2px #111;font-weight:700;text-transform:uppercase;background:none;border:none;left:3px;top:3px;position:relative;z-index:1;height:35px;padding-top:5px; padding:0;width:94%;letter-spacing:-1px;font-size:17px;color:#ddd;}
#submit-button:hover {color:#fff;}






/* Images */ 

.entry-content img, .entry-content .wp-caption {max-width:616px;height:auto;padding:5px;border:2px solid #ddd;background:#E0E1E5;}
.entry-content img {max-width:606px;}
.entry-content .thumbnail img { float:left;margin-right:10px;max-width:100px;max-height:150px;padding:3px;width:expression(document.body.clientWidth < 742? '100px' : document.body.clientWidth > 1000? '100px' : 'auto');}


.entry-content .alignleft.wp-caption { margin: 5px 20px 10px 0; }
.entry-content .alignright.wp-caption { margin: 5px 0 10px 20px; }
.entry-content .aligncenter.wp-caption { margin: 5px auto 10px auto; }

.entry-content .wp-caption { text-align: center;padding:0;padding-top:5px;font-style:italic; }
.wp-caption img { margin: 0; padding: 0; border: 0 none;-moz-box-shadow:none; }
.wp-caption .wp-caption-text { margin: 0; padding: 5px; }

.wp-smiley {box-shadow:none !important; background:none !important;border:none!important;padding:0 !important;max-height: 13px; margin: 0 !important; } /* Prevent the smileys from breaking line-height */







/* [gallery] */
.gallery { margin: auto; }
.gallery img {border:none !important;}
.gallery-image { margin-left: 0; }
.gallery-caption { margin-left: 0; font-size:11px;font-weight:bold; }
.gallery-item { float: left; width: 33%; text-align: center; margin-left: 0; }


/* Calendar */

table#wp-calendar {margin-bottom:0px;width:100%;}
table#wp-calendar caption {margin-bottom:10px;font-size:17px;font-weight:bold;font-style:italic;text-align:right;}
table#wp-calendar th, table#wp-calendar tbody tr td {padding:8px 3px;text-align:center;}
table#wp-calendar th {}
table#wp-calendar thead {background:none;}
table#wp-calendar tbody {}
table#wp-calendar tbody tr td {border-right:1px solid #fff;color:#aaa;text-shadow:0 1px 0 #fff;border-top:1px solid #fff;}
table#wp-calendar tbody tr td.pad {}
table#wp-calendar tfoot tr td {text-align:center;font-style:italic;}


/* Navigation */
.page-navigation .nav-next, .single-page-navigation .nav-next, .page-navigation .nav-previous, .single-page-navigation .nav-previous  { float:left;font-weight:bold;font-style:italic;font-size:22px;text-align:left;color:#777;text-shadow:0 1px 0px #fff; }
.page-navigation .nav-previous {text-align:right;float:right; }
.page-navigation .nav-next:hover, .single-page-navigation .nav-next:hover, .page-navigation .nav-previous:hover, .single-page-navigation .nav-previous:hover {text-shadow:0 1px 0 #222;color:#fff;}
.single-page-navigation .nav-next { float: right;text-align:right;max-width:49%!important;}
.single-page-navigation .nav-previous { float:left;text-align:left;max-width:49%!important;} 
.page-navigation .nav-previous a, .single-page-navigation .nav-previous a, .page-navigation .nav-next a, .single-page-navigation .nav-next a {float:none;width:auto;white-space:normal;font-weight:normal;font-size:14px;color:#777;text-shadow:0 1px 0px #fff;text-decoration:none;padding:7px;   
background:rgba(0,0,0,.02);-webkit-border-radius:3px;-moz-border-radius:3px;-border-radius:3px;border-radius:3px;
}
.page-navigation .nav-previous a:hover, .single-page-navigation .nav-previous a:hover, .page-navigation .nav-next a:hover, .single-page-navigation .nav-next a:hover {padding:6px;text-shadow:0 1px 0 #000;color:#fff;
-webkit-border-radius:3px;-moz-border-radius:3px;-border-radius:3px;border-radius:3px;border:1px solid #222;
background:#505050;
background:-moz-linear-gradient(center top , #606060 20%, #505050 100%) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #606060),color-stop(1, #505050));
    background: -o-linear-gradient(top, #606060,#505050);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#505050');
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
}
.page-navigation .nav-next a, .page-navigation .nav-previous a {font-size:14px;padding:3px 6px;}
.page-navigation .nav-previous a:hover, .page-navigation .nav-next a:hover {padding:2px 5px;}

.single-page-navigation .nav-previous .nav-meta, .single-page-navigation .nav-next .nav-meta  {float:left;margin:0 8px;position:relative;top:-2px;}
.single-page-navigation .nav-next .nav-meta {float:right;}
.page-navigation .nav-next .nav-meta, .page-navigation .nav-previous .nav-meta {font-size:20px;margin:0 4px;position:relative;top:1px;line-height:10px;}

/* Page Navi */

.wp-pagenavi a, .wp-pagenavi span {font-weight:normal;font-size:14px;color:#999;-moz-border-radius:3px;-moz-box-shadow:0 1px 2px #ccc;text-shadow:0 1px 1px #fff;text-decoration:none;padding:7px;background:#f1f1f1;border:none !important;}
.wp-pagenavi a:hover, .wp-pagenavi span.current {background:#fff;color:#333;}
.wp-pagenavi a.previouspostslink, .wp-pagenavi a.nextpostslink {font-weight:bold;}

 




/* [gallery] + navigation clearfix */
.gallery-row:after, .navigation-links:after, .container:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.gallery-row, .navigation-links, .container { display: block; }


/* Basic Alignments */
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter { margin-left: auto; margin-right: auto; display: block; clear: both; }

/* Slider */

#slide_holder {height:150px;width:620px; position:relative;z-index:0; clear:both;float:left;}
#slide_holder img {border:2px solid #ddd;background:#E0E1E5;padding:4px;margin-right:20px;float:left;max-width:100px;}

   
#slide_holder p {font-size:13px;font-style:italic;text-shadow:0 1px 1px #eee;}
#slide_holder .featured-title, #slide_holder .twitter-title {text-shadow:0 1px 0px #fff;font-size:30px;font-weight:bold;margin-bottom:10px;letter-spacing:-1px;}
#slide_holder .featured-title a, #slide_holder .twitter-title {color:#888;font-style:italic;}
#slide_holder .featured-title a:hover {color:#333;text-decoration:none;}


.slide-container { width:620px; height:160px; overflow:hidden; position:relative; }
div.slides { position:absolute; top:0; left:0; }
ul.slides { width:620px;position:absolute; top:0; left:0; list-style:none; padding:0; margin:0; }
ul.slides li.slide {position:absolute; top:0px; width:620px;height:150px;display:none; padding:0 40px 0 0 ; margin:0; }


.twitter-time {color:#888;}
.twitter-status, .post-more {padding:5px 10px; -webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
border-width:1px;border-style:solid;font-weight:bold;
  border-color: #bbb; border-bottom-color: #999;text-align: center;text-shadow: 0 1px 0 #fff;
   color: #777;
    background: #f8f8f8;               
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #fff),color-stop(1, #eee));
    background: -moz-linear-gradient(center top,#fff 20%,#eee 100%);
    background: -o-linear-gradient(top, #fff,#eee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
   }
   
a.post-more:hover {text-decoration:none;color:#111;}   


/* Search */

#righttopcolumn {float:right;width:315px;position:relative;top:10px;}

#search-text-box {top:3px;float:left;}
.widget-content #search-text-box {width:71%!important;}
.widget-content #search-text {max-width:78%!important;}
.widgets-holder .widget-content #search-text-box {width:71%;}


#search-text {-webkit-box-shadow:0 0 4px rgba(0,0,0,.15) inset;-moz-box-shadow:0 0 4px rgba(0,0,0,.15) inset;-box-shadow:0 0 4px rgba(0,0,0,.15) inset;box-shadow:0 0 4px rgba(0,0,0,.15) inset;-moz-border-radius: 3px 0 0 3px;-webkit-border-radius: 3px 0 0 3px;-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;
border:1px solid #ddd;position:relative;float:left;width:220px;z-index:0;background:#fff;font-weight:normal;font-style:italic;position:relative;z-index:1;top:3px;left:0px;height:23px;padding:5px 7px;font-size:15px;}
#search-text:focus {border-color:#aaa;}
#search-button-box {position:relative;float:left;width:78px;z-index:0;}
.widget-content #search-button-box {width:28%;height:40px;}

#search-button {font-weight:normal;font-size:12px;text-shadow:0 1px 0px #fff;text-transform:uppercase;left:0px;top:3px;position:relative;z-index:1;height:35px;padding-top:5px; padding:0;width:94%;letter-spacing:-1px;color:#777;
    border: 1px solid #bbb;
    border-color: #BBBBBB #BBBBBB #999999;
    -moz-border-radius: 0 3px 3px 0;-webkit-border-radius: 0 3px 3px 0;-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e9e9e9),color-stop(1, #ccc)); background: -moz-linear-gradient(center top,#e9e9e9 20%,#ccc 100%);
     background: -o-linear-gradient(top, #e9e9e9,#ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#cccccc');
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}
#search-button:hover {color:#333!important;}


#search-text-box #search_label {float:left;width: 234px;height:24px !important;margin:0 0 10px 0;position:relative;z-index:12;}
#search-text-box #search_label span {color:#aaa;left:-3px;cursor:text;display:block;font-size:15px;font-style:italic;height:40px;margin-bottom:-40px;top:10px;padding:0 12px;position:relative;z-index:10;}

#comment-name_label, #comment-email_label, #comment-url_label, #comment-text_label {display:block;margin:0 6px 10px 0;_margin-right:0;position:relative;z-index:12;}
#comment-name_label, #comment-email_label, #comment-url_label {height:31px !important;}
#comment-name_label span, #comment-email_label span, #comment-url_label span, #comment-text_label span {color:#444444;cursor:text;display:block;font-size:13px;font-weight:bold;height:32px;margin-bottom:-32px;top:2px;width:100%;padding:0 4px;position:relative;z-index:10;}
#comment-text_label span {top:11px;padding:0 11px;font-size:18px;}





/* Subscribe/Follow Buttons */

.social-title {color:#555;font-weight:bold;font-style:italic;float:left;font-size:20px;letter-spacing:-1px;margin-right:10px;text-shadow:0 1px 2px #fff;}

#rss, #email-newsletter, #facebook, #twitter, #myspace, #skype, #youtube, #flickr, #linkedin, #plus {background:url("../images/social-buttons.png") no-repeat scroll left top transparent;display:block;font:italic 13px arial;height:32px;margin-right:5px;width:32px;}
#email-newsletter {background-position:0 -32px;}
#facebook {background-position:0 -96px;}
#twitter {background-position:0 -64px;}
#plus {background-position:0 -128px;}
#myspace {background-position:0 -160px;}
#skype {background-position:0 -192px;}
#youtube {background-position:0 -224px;}
#flickr {background-position:0 -256px;}
#linkedin {background-position:0 -288px;}


div.sc_menu {position: relative;z-index:0;height: 32px;width: 315px;overflow: hidden;}
ul.sc_menu {display: block;height: 32px;width: 1800px;padding: 0 0 0 10px;margin: 0;list-style: none;}
.sc_menu li {display: block;float: left;padding: 0;}



/* Tipsy */

.tipsy { padding: 5px 8px; font-size: 10px; position: absolute; z-index: 950; }
.tipsy small {color:#777;}
  .tipsy-inner { font-weight:bold;font-style:italic;border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; border-color: #BBBBBB #BBBBBB #999999;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    border-style: solid;
    border-width: 1px;
    background: -moz-linear-gradient(center top , #FFFFFF 20%, #EEEEEE 100%) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #FFFFFF),color-stop(1, #EEEEEE)) !important;
    background: -o-linear-gradient(top, #FFFFFF,#EEEEEE) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE');     
    text-shadow: 0 1px 0 #fff;color:#000;margin-top:2px;padding:5px 10px; max-width: 200px; text-align: center; }
  .tipsy-n .tipsy-arrow { top:0px; left: 50%; margin-left: -8px; }
  .tipsy-s .tipsy-arrow { bottom:-2px; left: 50%; margin-left: -8px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
  
  
/* Back to Top Button */

#backtotop {display:block;display:none;z-index:999;position:fixed;top:100%;margin-top:-40px;opacity: .9;margin-left:-70px;text-align: center;
text-shadow:0 1px 0 #000;color:#fff;
-webkit-border-radius:3px;-moz-border-radius:3px;-border-radius:3px;border-radius:3px;border:1px solid #222;
background:#505050;
background:-moz-linear-gradient(center top , #606060 20%, #505050 100%) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #606060),color-stop(1, #505050)) !important;
    background: -o-linear-gradient(top, #606060,#505050) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#505050');
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
}
#backtotop a { font-size:12px;color:#000;padding:5px 8px;display: block;text-shadow:0 1px 0px #777;}
#backtotop a:hover {text-decoration:none;}
#backtotop:hover {opacity:1;}
#backtotop .top-icon {padding-left:18px;background:url('../images/btop.png') no-repeat 0 4px;}  

/* Share This Buttons */

.share-this {margin-bottom:30px;padding:10px 0 14px 0;}
.share-this strong {color:#777;margin-right:5px;text-shadow:0 1px 0px #fff;padding:5px 6px; border: 1px solid #bbb;
    border-color: #BBBBBB #BBBBBB #999999;
    -moz-border-radius:3px;-webkit-border-radius:3px;-border-radius:3px;border-radius:3px;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e9e9e9),color-stop(1, #ccc)); background: -moz-linear-gradient(center top,#e9e9e9 20%,#ccc 100%);
     background: -o-linear-gradient(top, #e9e9e9,#ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#cccccc');
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}
.share-this:hover strong {color:#111;}
.share-this a {text-transform:uppercase;color:#777;font-size:11px;padding:5px 0;font-weight:bold;}
.share-this a:hover {color:#333;text-decoration:none;}
a.share-twitter, a.share-facebook, a.share-delicious, a.share-stumble, a.share-email {background:url('../images/share.gif') no-repeat 0 2px;background-position:0 -152px;padding-left:21px;margin-left:4px;}
a.share-facebook {background-position:0 -183px;}
a.share-delicious {background-position:0 -214px;}
a.share-stumble {background-position:0 -245px;}
a.share-email {background-position:0 -276px;}
a.share-twitter:hover {background-position:0 3px;}
a.share-facebook:hover {background-position:0 -28px;}
a.share-delicious:hover {background-position:0 -59px;}
a.share-stumble:hover {background-position:0 -90px;}
a.share-email:hover {background-position:0 -121px;}

/* Ads Spaces */

.ad-space {border:2px solid #454545;margin:5px;-moz-box-shadow:0 1px 4px #999;-moz-border-radius:4px;text-shadow:0 1px 1px #333;color:#999;font-style:italic;background:#555;padding:20px;text-align:center;}
.ad-space h3 {color:#999;font-size:18px;line-height:20px;padding:0;letter-spacing:-1px;text-shadow:0 1px 1px #333}
.ad-space:hover {background:#333;color:#eee;}
.space-2 {width:915px;margin-left:auto;margin-right:auto;}





