
/* =Responsive 12 Column Grid
-------------------------------------------------------------- */
.grid {
	float:left;
	margin-bottom:2.083%;
	padding-top:0;
}

.col-60, .col-140, .col-220, .col-300, .col-380, .col-460, .col-540, .col-620, .col-700, .col-780, .col-860 {
	display:inline;
	margin-right:2.12766%;
}

.col-60 {
	width:6.38297%;
}

.col-140 {
	width:14.89361%;
}

.col-220 {
	width:23.40425%;
}

.col-300 {
	width:31.91489%;
}

.col-380 {
	width:40.42553%;
}

.col-460 {
	width:48.93617%;
}

.col-540 {
	width:57.4468%;
}

.col-620 {
	width:65.95744%;
}

.col-700 {
	width:74.46808%;
}

.col-780 {
	width:82.97872%;
}

.col-860 {
	width:91.48936%;
}

.col-940 {
	width:100%;
}

/* .fit is the very last item in your grid 
   to keep your columns inline and without
   floats
*/
.fit {
	margin-left:0!important;
	margin-right:0!important;
}

#rwd {
	max-width:980px;
}

h3.rwd-toggle {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 0 0 0 10px;
	margin: 20px 0 0 0;
	border:1px solid #dfdfdf;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC));
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	height: 34px;
	line-height: 34px;
	width: 980px;
	font-size: 15px;
	font-weight: normal;
	float: left;
}

h3.rwd-toggle a {
	background:url(images/arrow-light.png) 99% 50% no-repeat;
	color: #464646;
	font-family:Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	text-decoration: none;
	display: block;
	text-shadow:#fff 0 1px 0;
}

h3.rwd-toggle a:hover {
	background:url(images/arrow-dark.png) 99% 50% no-repeat;
	color: #444;
}

h3.active {
	background-position: left bottom;
}

.rwd-container {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin: 0;
	padding: 0;
	border: 1px solid #dfdfdf;
	border-top:none;
	background: #fcfcfc;
	overflow: hidden;
	font-size: 1.2em;
	clear: both;
	width:990px;
}

.rwd-container .rwd-block {
	padding: 20px;
}

div.updated {
}

/* =Inline CSS
-------------------------------------------------------------- */
.inline-css {
	color:#1e1eff;
	font-family:Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}

/* =Help Links
-------------------------------------------------------------- */
.help-links {
	border-top:1px solid #ddd;
	display:block;
	font-size:12px;
	margin-top:10px;
	padding-top:10px;
}