/**
 * Basic 3 column (aside)(aside)(content) fixed layout
 * 
 * @package WPEvoLve
 * @subpackage Layouts
 * @beta
 */

.container { width: 960px; margin: 20px auto; }
.hfeed { width: 506px; float: right; }
.aside { width: 210px; float: left;margin-right:15px; }
.footer { clear: both; }
.entry-content img {max-width: 492px;}
.widget:after {content: url(../images/widget-shadow.png);margin-left:-105px;}