/**
 *  3 columns (aside)(content)(aside) fixed layout
 * 
 */

.container { width: 960px; margin: 20px auto; }
.hfeed { width: 506px; float: right; }
#wrapper {width:990px;}
#secondary { width: 210px; float: left;margin-right:15px; }
#secondary-2 { width: 210px; float: right;margin-left:15px; }
.footer { clear: both; }
.entry-content img {max-width: 492px;}
.widget:after {content: url(../images/widget-shadow.png);margin-left:-105px;}