
.nav a {color:#fff;text-shadow:0 1px 0px #333; }

.nav li.nav-hover ul { background: #505050; }

.nav ul li a {border-bottom: 1px solid #444;border-top: 1px solid #666;}

.nav ul li:hover > a, .nav li.current-menu-item > a, .nav li.current-menu-ancestor > a  {border-top-color:#666!important;}

.nav li.current-menu-ancestor li.current-menu-item > a, .nav li.current-menu-ancestor li.current-menu-parent > a {border-top-color:#666; }

.nav ul {border: 1px solid #444; border-bottom:0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}

.nav li {border-left-color: #444;border-right-color:  #666;}

.menu-header {background:#505050;
   background:-moz-linear-gradient(center top , #606060 20%, #505050 100%) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #606060),color-stop(1, #505050)) !important;
    background: -o-linear-gradient(top, #606060,#505050) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#505050');
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
    color:#fff;text-shadow:0 1px 0px #000;
    border-color:#222;  
} 

.nav li:hover > a, .nav li.current-menu-item > a, .nav li.current-menu-ancestor > a,
.nav li.current-menu-ancestor li.current-menu-item > a, .nav li.current-menu-ancestor li.current-menu-parent > a { 
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow:  0 0 10px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);}

.nav li.current-menu-item, .nav li.current-menu-ancestor, .nav li:hover {border-right-color:#666!important;}

.nav .sf-sub-indicator {background-image:	url(../images/arrow-superfish-dark.png);}
.nav li ul .sf-sub-indicator {background-image:url(../images/arrow-superfish-right-dark.png);}

