/**
 * Basic 1 column (content)(aside) fluid layout
 * 
 * @package WPEvoLve
 * @subpackage Layouts
 * @beta
 */

.container { min-width:960px;max-width:2400px;width:95%;margin:20px 3%;}
#wrapper {margin:0;width:100%;}
.hfeed { min-width:620px; width: 65%; }
.aside { min-width:320px; width: 34%; }

#slide_holder {min-width:620px;width: 65%;}
.slide-container {min-width:620px;width: 100%;}

.widgets-back {margin:10px 0 0 0 !important;}
.widgets-back-inside {min-width:960px;max-width:2400px;width:95%;margin:20px 3%;}



#righttopcolumn {min-width:320px; width: 34%;}

#search-text-box {min-width:220px; width: 69%;}
#search-button-box {min-width:90px; width: 30%;}

.space-2 {width:90%;}
