/**
 * Pink + Purple
 * 
 */
 
 
a, .entry-content a:link, .entry-content a:active, .entry-content a:visited, .footer .widgets-holder a {color:#e555e0;} 
.entry-content a:hover, .footer .widgets-holder a:hover, #secondary a:hover, #secondary-2 a:hover {color:#963693;}

.header {background:#ed81f1 url("../images/pink-purple/header-footer.jpg") repeat;border-bottom: 1px solid #c26ec5;}

#tagline {color:#b768b9;text-shadow:0 1px 0 #fbbbf8;}

#logo a, .footer a { color:#831da0;text-shadow:0 1px 0px #fbbbf8;}
#logo a:hover, .footer a:hover { color:#333;}

.footer {background:#ed81f1 url("../images/pink-purple/header-footer.jpg") repeat;color:#333;border-top: 1px solid #c26ec5;}
p#copyright {text-shadow:0 1px 0px #fbbbf8;color:#b768b9;}




