#facebook-author-message-box-id .ui-autocomplete {
	background-color: #fff;
	max-width: 100%;
}

#facebook-author-message-box-id .ui-autocomplete .subtext {
	color: #999;
}

// hide accessibility helper
#facebook-author-message-box-id .ui-autocomplete .ui-helper-hidden-accessible {
  position: absolute !important;
  overflow: hidden;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

#facebook-author-message-box-id .ui-autocomplete .results {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}

#facebook-author-message-box-id ul.ui-autocomplete {
  list-style-type: none;
  margin: 0;
  background-color: #FFF;
  border-color: #333333 #333333 #293E6A;
  border-style: solid;
  border-width: 1px 1px 2px;
  overflow: hidden;
  padding: 2px 0;
}

#facebook-author-message-box-id .ui-autocomplete li {
  color: #333;
  border-color: #FFF;
  border-style: solid;
  border-width: 1px 0;
  cursor: pointer;
  min-height: 32px;
  padding: 2px 10px 2px 45px;
  display: block;
  position: relative;
}

#facebook-author-message-box-id .ui-autocomplete li.ui-state-focus {
  background-color: #6d84b4;
  border-color: #3b5998;
}
#facebook-author-message-box-id .ui-autocomplete li.ui-state-focus .text, #facebook-author-message-box-id .ui-autocomplete li.ui-state-focus .subtext {
  color: #fff !important;
}

#facebook-author-message-box-id .ui-autocomplete li a.ui-state-focus {
  background-color: transparent !important;
}

#facebook-author-message-box-id .ui-autocomplete li img {
  border: 0;
  display: block;
  position: absolute;
  height: 32px;
  width: 32px;
  left: 6px;
}

#facebook-author-message-box-id .ui-autocomplete .text {
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 2px;
  padding-left: 5px;
}

#facebook-author-message-box-id .ui-autocomplete .subtext {
  color: #999;
  padding-left: 5px;
}

#facebook-author-message-box-id .ui-autocomplete .text, #facebook-author-message-box-id .ui-autocomplete .subtext {
  display: block;
  overflow: hidden;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}