ul.short-codes li ul li {margin-left:15px;}
ul.short-codes li {margin-top:3px; margin-bottom:3px;}
.save-popup { position:absolute; -moz-border-radius:5px; background:#ffffff; color:#D54E21; font-size:24px; text-align:center; display:none; font-family:georgia; border:1px solid #ababab; z-index:9999;}
.no-but {display:none;}
.save-popup .popup-bg { background:url(../images/updated.gif) 20px 50% no-repeat; padding:30px 30px 30px 80px}
.ajax-loading-img {padding-right:10px;}

.natty-options {margin:20px auto; padding:0; text-shadow:0 1px 0 #FFFFFF; width:920px;}
.natty-options p.submit {float:left;}
.natty-options p.submit input {margin-right:10px;}
.natty-options .header {background:#fff; border-color:-moz-use-text-color #CCCCCC #AAAAAA; border:1px solid #CCCCCC;}
.natty-options .main-top {border-top:1px solid #fff;}
.natty-options .main-top h1 {font-family:georgia,times,serif; font-size:24px; font-weight:normal; color:#000; margin:10px 0px;}
.natty-options .main-top h1 span.blu{color:#227399;}

.natty-options .main-top .copy {font-family:georgia,times,serif; font-size:11px; margin-top:5px;}
.natty-options .main-top .copy a {text-decoration:underline;}
.natty-options .main-top .social {margin-top:10px;}
.natty-options .main-top .social ul li {float: left; display: inline; padding-left: 8px;}
.natty-options .main-top .social ul li a {display: block; height: 16px; padding: 0; text-indent: -9999px; width: 16px;}
.natty-options .main-top .social ul li.twitter a {background: url("../images/twitter_16.png") no-repeat scroll 0 0 transparent;}
.natty-options .main-top .social ul li.rss a {background: url("../images/rss_16.png") no-repeat scroll 0 0 transparent;}

.natty-options .supportline {background:#fff; border-top:1px solid #cccccc;}
.natty-options .supportline .left a {font-size:11px; text-decoration:none; color:#333333; line-height:24px; margin-right:20px;}
.natty-options .supportline .left a:hover {text-decoration:underline; color:#000;}
.natty-options .supportline .left .ico-docs {background:url("../images/ico-docs.gif") no-repeat; padding-left:20px;}
.natty-options .supportline .left .ico-support {background:url("../images/ico-support.gif") no-repeat; padding-left:20px;}

.natty-options #main {border-right:1px solid #CCCCCC; border-left:1px solid #CCCCCC; background:#E9E9E9;}
.natty-options #main.settings-page {position:relative;}
.natty-options #main.color-page .main-content {width:870px;}
.natty-options #main.color-page .main-content .inside {width:400px; float:left; margin-left:35px;}
.natty-options #main.color-page .main-content .preview-box {margin-left:0px; float:left; margin-top:10px; text-shadow:none;}
.natty-options #main.color-page .form-item {padding-bottom:0px;}
.natty-options #main.color-page .form-item input {width:200px !important;}
.natty-options #main.color-page .form-item select {width:235px !important;}
.natty-options #main.color-page .inside h4 {margin:10px 2px 5px; padding:10px 0px 0px 0px; border:0; background:none;}
.natty-options #main h4, .natty-options #main.color-page .inside h3, .natty-options #main.color-page h3.hndle {margin:10px 0; padding:10px 15px; border-bottom:1px solid #EAEAEA; border-top:1px solid #EAEAEA; background:#EEEEEE;}
.natty-options #main .form-item {padding-bottom:15px; clear:both;}
.natty-options #main .form-item #image_nattywp_custom_logo {max-width:665px; max-height:auto; height:auto;}
.natty-options #main .form-item .description {float:left; margin-left:15px; width:260px; font-size:11px;}
.natty-options #main .form-item .description.inline {float:none; width:100%; margin-top:15px;}
.natty-options #main .form-item label {font-size:11px; margin:5px 0;}
.natty-options #main .form-item input,
.natty-options #main .form-item select,
.natty-options #main .form-item textarea,
.natty-options #main input.upl-inp {float:left; margin-bottom:9px; width:380px !important; font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;}
.natty-options #main .form-item .form-uploader {float:left;}
.natty-options #main #nat-wellcome {padding-top:15px;}

.natty-options #main .form-item.array {float:left; margin-right:25px; width:310px; clear:none;}
.natty-options #main .form-item.array .description {width:140px;}
.natty-options #main .form-item.array input,
.natty-options #main .form-item.array select,
.natty-options #main .form-item.array textarea {width:150px !important;}


.natty-options #main .form-uploader input.upl-inp {float:none !important;}
.natty-options .footer {background:#E9E9E9; border:1px solid #CCCCCC;}

.natty-options .left {float:left;}
.natty-options .right {float:right;}
.natty-options .general-pad {padding:10px;}
.natty-options .general-pad-two {padding:5px 10px;}

/* navigation */
.natty-options .frame-nav {width:200px; float:left; background:#eeeeee; padding-top:15px;}
.natty-options .frame-nav ul li {margin-bottom:0px;}
.natty-options .frame-nav ul li a {border-bottom:1px solid #D8D8D8; color:#000000; display:block; font-size:12px; padding:10px 10px 10px 15px; text-decoration:none; font-weight:bold;}
.natty-options .frame-nav ul li a:hover {background:#fff; color:#d54e21;}
.natty-options .frame-nav ul li.current a {background:#fff; color:#227399;}

/* main content */
.natty-options .main-content {width:670px; float:left; padding:10px 24px 24px 24px; background:#fff; margin-top:5px; min-height:550px;}


/* nattywp_more_themes_page */
ul.themes {}
ul.themes li.theme {border-bottom: 1px #ddd solid; padding: 20px 0;}
ul.themes li.theme .image{float: left}
ul.themes li.theme .image img{ width: 349px; }
ul.themes li.theme .theme-info {margin-left: 370px; }
ul.themes li.theme .theme-info h2.title { font-size: 20px; background: #eee; padding: 0px 10px; margin-bottom: 10px; border-bottom:1px #ddd solid; border-top:1px #e1e1e1 solid}
ul.themes li.theme .theme-info h2.title a:link, 
ul.themes li.theme .theme-info h2.title a:visited {  color: #555; text-decoration: none; font-style: normal;}
        
ul.themes li.theme .theme-info .entry { width: 400px; padding-left: 5px;}
ul.themes li.theme .theme-info .entry p{ font-size: 12px!important;  margin: 20px 10px 25px 10px; }
ul.themes li.theme .theme-info ul {padding-left: 0px; color: #ccc; float:left; border-top:#eee 1px solid; padding-top: 10px; }
ul.themes li.theme .theme-info ul li { list-style: disc; list-style-position:inside; padding-left:20px;}
ul.themes li.theme .theme-info ul li a:link, 
ul.themes li.theme .theme-info ul li a:visited { font-size: 12px!important; text-decoration: none;}
ul.themes li.theme .theme-info ul li a:hover, 
ul.themes li.theme .theme-info ul li a:active { text-decoration: underline ;}  


/* nattywp custom thumbs */
.thumb_input_text { margin:0 0 10px 0; background:#f4f4f4; color:#444; width:80%; font-size:11px; padding: 5px;}
.thumb_input_select { margin:0 0 10px 0; background:#f4f4f4; color:#444; width:60%; font-size:11px; padding: 5px;}
.thumb_input_checkbox { margin:0 10px 0 0; }
.thumb_input_radio { margin:0 10px 0 0; }
.thumb_input_radio_desc { font-size: 12px; color: #666 ; }
.thumb_spacer { display: block; height:5px}
.thumb_box_desc { font-size:10px; color:#aaa; display:block}
.metabox_thumb_table{ border-collapse:collapse; width:100%}
.metabox_thumb_table tr:hover th,
.metabox_thumb_table tr:hover td { background:#f8f8f8}
.metabox_thumb_table th,
.metabox_thumb_table td{ border-bottom:1px solid #ddd; padding:10px 10px;text-align: left; vertical-align:top}
.thumb_box_names { width:20%}
.thumb_box_fields { width:70%}
.thumb_box_image { text-align: right;}
.thumb_red_note { margin-left: 5px; color: #c77; font-size: 10px;}
.thumb_input_textarea { width:80%; height:120px;margin:0 0 10px 0; background:#f0f0f0; color:#444;font-size:11px;padding: 5px;}

/* Upload section */
.upload_button_div { margin-bottom: 10px;}
.upload_button_div .button { padding:4px 14px;}
.upload_button_div  .image_reset_button { margin-left:10px;}
.upload-error { float:left;color:#666; font-size:10px; font-weight:bold; text-decoration:none; text-shadow:1px 1px 0 #FFFFFF; margin: 0 10px 0 0; padding:3px 10px; background:#FFDFEC; -moz-border-radius:4px;}
.reset-button { background:#c77 none !important;color:white!important;text-shadow:0 1px 0 #555 !important;}
.save_bar_top { background: #f3f3f3; border:solid #ccc; border-width:0px 1px 1px 1px; padding: 10px 20px 0px 20px; height: 35px; text-align: right;}
.hide {display:none}

/* Tinymce hook */
.wp_themeSkin span.mce_mygallery_button {
background-position:-820px -20px;
}

/* Sortable list */
#sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; }
#sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }