.notice {background: #FFF6BF; border-top: 2px solid #FFD324; border-bottom: 2px solid #FFD324; text-align: center; margin: 10px auto; padding: 5px 20px; color:#000000;}
.alert {background: #FCE4E0; border-top: 2px solid #EB6D59; border-bottom: 2px solid #EB6D59; text-align: center; margin: 10px auto; padding: 5px 20px; color:#000000;}
span.highlight {background:#F9F1ED none repeat scroll 0 0; color:#F75342; font-style:italic;}
span.highlight-bold {font-size:120%; font-weight:bold; line-height:150%;}
span.highlight-green {background:none repeat scroll 0 0 #D2EBB1; color:#191919;} 
span.highlight-red {background:none repeat scroll 0 0 #FFCFD1; color:#191919;} 
span.highlight-yellow {background:none repeat scroll 0 0 #F8ECA9; color:#191919;} 
span.highlight-blue {background:none repeat scroll 0 0 #AFDBEE; color:#191919;} 
span.inset-left, span.inset-right {border:1px solid #E5E5E5; color:#333333; display:block; font-size:100%; font-style:italic; margin-top:25px; padding:12px 8px 8px; position:relative; text-align:center; width:30%;}
span.inset-right-title, span.inset-left-title {background:#FFFFFF none repeat scroll 0 0; color:#F75342; display:block; font-size:100%; font-weight:bold; left:10px; padding:3px 8px; position:absolute; top:-15px;}
span.inset-right {float:right; margin-left:15px;}
span.inset-left {float:left; margin-right:15px;}
span.dropcap {display:block;float:left;font-size:400%;line-height:100%;margin:0 4px 0 0;}
.important {border:1px solid #E5E5E5; margin:25px 0 10px;padding:15px; position:relative;}
span.important-title {background:#FFFFFF none repeat scroll 0 0; color:#F75342; display:block; font-size:120%; left:10px; padding:3px 8px; position:absolute; top:-0.8em;}
.toggle { font-size:13px;	background: url(../images/plus-minus.png) no-repeat; padding:6px 0px 6px 22px; background-position:left 12px; font-weight:bold;}
.toggle:hover {cursor:pointer; text-decoration:underline;}
.toggle_content {clear:both; margin:0px; overflow:hidden; position:relative; display:none;}
.toggle_content .tc {	padding:10px 20px 13px 20px; display:block;}

.top-shortcode {font-size:8px; line-height:10px; margin-bottom:40px; position:relative; text-align:right;}
.top-shortcode a {background:#F9F9F9; color:#BBBBBB; height:20px; position:absolute; right:0; text-shadow:1px 1px 0 #FFFFFF; top:15px; width:20px;}
.divider {clear:both; display:block; margin-bottom:20px; padding-top:20px; width:100%; border-bottom:1px solid #E5E5E5;}
a.shortcode_button {background:url(../images/button.png) no-repeat scroll 0 0 transparent; border-right:1px solid #E4E4E4; color:#5C5C5C; display:table-cell; font-weight:700; padding:7px 20px 6px 22px; text-decoration:none; text-transform:uppercase; font-size:12px;}
a.shortcode_button:hover {background-position:0 -40px;}

.column2, .column3, .column4 {display:inline; float:left; overflow:hidden; padding-bottom:20px; position:relative;}